@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bloo: var(--bloo);
  --color-lightbloo: var(--lightbloo);
  --color-maincol: var(--maincol);
  --color-lightcol: var(--lightcol);
  --color-lotraccent: var(--lotraccent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-highlight: var(--higlight);
  --color-bordercol: var(--bordercol);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0defc;
    --foreground: #000000;
    --bloo: #7DBACB;
    --lightbloo: #896D6B;
    --maincol: #e4aef600;
    --lightcol: #896D6B;
    --lotraccent: #ebba52;
    --higlight: #530160cc;
    --bordercol: #530160cc;
  }
}

@font-face {
  font-family: grapeSoda; /* set name */
  src: url(/GrapeSoda.ttf); /* url of the font */
}

@font-face {
  font-family: Typewriter; /* set name */
  src: url(/XTypewriter.ttf); /* url of the font */
}

body {
  /* background-image: url(/waterbg.jpg);*/
  background-color: var(--background);
  background-size: cover;
  color: var(--foreground);
  font-family: Typewriter;
}
