@import "tailwindcss";

@keyframes scroll-infinite {
    from {
    transform: translateX(0);
    }
    to {
    transform: translateX(calc(-1 * (88px + 0.25rem) * 10));
    }
}

.animate-scroll-infinite {
    animation: scroll-infinite 8s linear infinite;
    will-change: transform;
}

.animate-scroll-infinite:hover {
    animation-play-state: paused;
}

.wave-container {
    text-align: center;
}
.wave-container span {
    display: inline-block;
    animation: char-wave 1.5s ease-in-out infinite;
}

.wave-container span:nth-child(1) { animation-delay: 0s; }
.wave-container span:nth-child(2) { animation-delay: 0.1s; }
.wave-container span:nth-child(3) { animation-delay: 0.2s; }
.wave-container span:nth-child(4) { animation-delay: 0.3s; }
.wave-container span:nth-child(5) { animation-delay: 0.4s; }
.wave-container span:nth-child(6) { animation-delay: 0.5s; }
.wave-container span:nth-child(7) { animation-delay: 0.6s; }
.wave-container span:nth-child(8) { animation-delay: 0.7s; }

@keyframes char-wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}